@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fw-light: 300;
}

* {
  user-select: none;
}

p {
  user-select: text;
  font-size: var(--fs-16);
  font-weight: var(--fw-light);
}